# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
*.spec

# Data files
# We exclude the user's data from being committed
GestorAsistencia/
*.csv
*.json
